fastapi==0.116.1
uvicorn[standard]==0.35.0
gunicorn==23.0.0
python-multipart==0.0.20
python-dotenv==1.1.1
requests==2.32.4
azure-identity==1.23.1
azure-mgmt-resourcegraph==8.0.0
azure-mgmt-resource==24.0.0
openai==1.97.1